blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    padding: 5px;
    
    justify-self: center;
}

p{
    text-align: justify;
}

table {
    border-collapse: collapse; /* This collapses adjacent cell borders into a single border */
  }
  th, td {
    border: 2px solid black;
    padding: 3px 3px;
  }


.flexmain{
  display: flex;
}

.flexsub{
  flex: 1;
  padding: 10px;
}


section {
    display: flex;
    flex-direction: row;
}
#definitions {
    flex: 1;
    /* Adjust styling for definitions section */
}
#examples {
    flex: 1;
    /* Adjust styling for examples section */
}
